<div class="jumbotron">
    <h1 class="display-4 text-danger">Hello, world!</h1>
    <p class="lead">This is a about hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <table class="table text-center  m-auto">
      <thead>
        <th>name</th>
        <th>age</th>
        <th>gender</th>
        <th>date</th>
        
      </thead>
      <tbody>
        <tr *ngFor="let user of aboutUsers">
          <td>{{user.name|gender:user.gender}}</td>
          <td>{{user.age}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.date|date:'long'}}</td>
        
        </tr>
      </tbody>
    </table>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

  <i class="fab fa-aws"></i>

